#teamOne, #teamTwo{
    margin-right: 10px;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    
}

.clicked {
    background-color: green;
}

.btn-group {
    margin-bottom: 2vh;
}

#game-board-section {
    
    display: flex;
    gap: 10%;

}

.board {
    padding: auto;
}

.ship {
    background-color: chartreuse;
}

.hit {
    background-color: red;
}

.miss {
    background-color: yellow;
}



td:hover {
    background-color: aqua;
    padding: auto;
}